<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>500 Server error</h2>

        <p *ngIf="hasServerError">
          {{ errorService.getLastServerError() }}
        </p>

        <p *ngIf="!hasServerError">
          An unexpected error ocurred processing your request.
        </p>
        <span> Please, report this error to your administrator. </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
